
header{
    text-align: center;
    color: white;
    padding: 20px;
}
#grad {
    background-image: linear-gradient(to right,skyblue, navy);
  }
#submit{
    margin: 5px;
}
/* styling for history section */
#history{
    width: 100%;
}
#history button{
    margin: 2px;
}
#history .btn{
    width: 100%;
}
.inline{
    display: inline;
}
/* current weather */
section{
    border: solid black 2px;
    padding: 5px
    
}
/* different color for the UVI */
#uviFavorable{
    background-color: green;
    width:fit-content;
    padding: 0px 10px;
    border-radius: 5px 15px;
    color: white;
}
#uviModerate{
    background-color: lightsalmon;
    width: auto;
    padding: 0px 10px;
    border-radius: 5px 15px;
    color: white;
}
#uviSevere{
    background-color: red;
    width: auto;
    padding: 0px 10px;
    border-radius: 5px 15px;
    color: white;
}